# Compiled class files
*.class

# Log files
*.log
logs/
spring.log

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.swn

# Temporary directories
tmp/
temp/

# Compiled Java binary files
*.jar
*.war
*.ear

# Eclipse IDE files
.project
.classpath
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# MacOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Maven dependencies
target/
*.mvn/
.mvn/timing.log
!mvn/wrapper/maven-wrapper.jar

# Gradle files
.gradle/
build/
out/
!gradle-wrapper.jar

# H2 Database files
*.h2.db
*.mv.db
*.trace.db

# Node and NPM dependencies (if applicable)
node_modules/

# Docker-related files
*.env
docker-compose.override.yml
.env

# Swagger Codegen files
swagger/
*.yaml

# Ignore compiled Kotlin files
*.kt.*
